{% load static %}

<header class="p-3  border-bottom border-2 bg-white shadow-sm px-5">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between row ">
        <div class="col-lg-4">
          <a href="{% url 'index' %}" class=" mb-2 mb-lg-0 text-decoration-none">
            <img class="me-2 h-25 w-25" src= '{% static "images/IconoTurismoReal.png" %}'>
          </a>
        </div>
        <div class="col-lg-4">
          <form class=" mb-3 mb-lg-0 me-lg-3" role="buscar">
            <input type="buscar" class="form-control fs-6 w-100" placeholder="Buscar..." aria-label="buscar">
          </form>
        </div>

        <div class="col-lg-4">
          {%if request.user.is_authenticated %}
          <div class="dropdown text-end ms-6 d-flex justify-content-end ">
            <a href="#" class="link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item fs-6" href="#">Configuración</a></li>
              <li><a class="dropdown-item fs-6" href="{% url 'perfil' %}">Perfil {{user.username}}</a></li>
              {% if request.user.is_superuser %}
              <li><a class="dropdown-item fs-6" href="{% url 'panel_administracion' %}">Administración</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item fs-6" href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
          </div>
          {%else%}
          <ul class="d-flex align-items-center pt-3">
            <li class="align-middle">
              <a href = "{% url 'login' %}" class="btn btn-outline-primary me-2 fs-6">Iniciar sesion</a>
            </li>
            <li class="align-middle">
              <a href="{% url 'register' %}" class="btn btn-warning fs-6">Registrate</a>
            </li>         
          </ul>
          {%endif%}
        </div>
      </div>
    </div>
  </header>