{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Listado de equipamiento
{% endblock title %}

{% block content %}
<!-- vuelve al panel-->
{% if user.is_authenticated and user.is_superuser %}
<li><a href="{% url 'panel_administracion' %}">Panel de Administración</a></li>
{% endif %}
<br>
<!-- Barra de búsqueda -->
<form method="get">
  <div class="search-wrapper">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
    <a href="?"><button type="button">Limpiar</button></a>
  </div>
</form>
<br>
<a href="{% url 'crear_Equipamiento' %}">
  <button type="button">Añadir equipamiento</button>
</a>
<br>
<br>
<div class="datagrid">
  <table>
      <thead>
          <tr>
              <th>objeto</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <td colspan="4">
                  <!-- Código para paginación si lo necesitas -->
              </td>
          </tr>
      </tfoot>
      <tbody>
          {% for item in equipamientos %}
              {% if forloop.counter0|divisibleby:2 %}
                  <tr class="alt">
              {% else %}
                  <tr>
              {% endif %}
                  <td>{{ item.objeto }}</td>
                  <td>{{ item.valor }}</td>
                  <td>{{ item.estado }}</td>
                  <td>
                    <form action="{% url 'activa_desactiva_equipamiento' item.id_equipamiento %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-activar-desactivar">
                            {% if item.estado == 'activo' %}
                                Desactivar
                            {% else %}
                                Activar
                            {% endif %}
                        </button>
                    </form>
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock content %}